#conkerchrome {
  display: none;
  position: fixed !important;
  min-height: 25px !important;
  bottom: 0px !important;
  right: 0px !important;
  left: 0px !important;
  background: grey !important;
}

#conkerchrome div {
    display: inline-block !important;
    margin: 5px !important;
    color: black !important;
}
#conkerchrome input {
    position: absolute !important;
    top: 0px !important;
    left: 0px;
    right: 0px !important;
    bottom: 0px !important;
    margin: 3px !important;
}
.conkerchrome_highlight {
  background: #ffff00 !important;
  position: relative !important;
}
.conkerchrome_selected {
  background: #88ff00 !important; 
}
.conkerchrome_number {
  background: red !important;
  color: white !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  font-size: 9px !important;
  line-height: 9px !important;
  font-weight: bold !important;
}
