#conkerchrome {
  display: none;
  position: fixed;
  min-height: 25px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background: grey;
}

#conkerchrome div, #conkerchrome input {
    display: inline-block;
    margin: 5px;
}
.conkerchrome_highlight {
  background: yellow !important;
  position: relative;
}
.conkerchrome_selected {
  background: green !important;
}
.conkerchrome_number {
  background: red;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 9px;
  line-height: 9px;
  font-weight: bold;
}
